body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Sesuaikan padding sesuai kebutuhan */
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    flex: 1; /* Memastikan logo berada di kiri */
    margin-left: auto;
}

.nav-links {
    display: flex;
    justify-content: center; /* Menempatkan link di tengah */
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 15px; /* Jarak antar item */
}

.logout {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease; /* Memastikan tombol logout berada di kanan */
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}


.nav-links {
    display: flex;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: color 0.3s ease; /* Transisi untuk efek hover */
}
.nav-links a:hover {
    color: #007bff; /* Ubah warna saat hover */
}
.logout:hover {
    background-color: #444; /* Ubah warna latar belakang saat hover */
}


.card {
    transition: transform 0.2s, box-shadow 0.2s;
  }

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }